{% load static %}

<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="کیوی وب - طراحی سایت و اپلیکیشن">
<meta name="keywords" content="KiwiWeb, کیوی وب,Web Design, طراحی سایت, طراحی اپلیکیشن">
<meta name="author" content="Aref Fallah - عارف فلاح">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#fff"/>

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

<link href="{% static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="{% static 'home/css/materialize.rtl.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
