{% load static %}

<section id="services">

    <div class="row">
        <div class="col s12 m12 l6 service_item">
            <div class="row">
                <div class="col s12 m4 l4">
                    <img src="{% static 'home/img/icon_monitor.svg'%}">
                </div>
                <div class="col s12 m8 l8">
                    <h3> طراحی سایت و اپلیکیشن </h3>
                    <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l6 service_item">
            <div class="row">
                <div class="col s12 m4 l4">
                    <img src="{% static 'home/img/icon_idea.svg'%}">
                </div>
                <div class="col s12 m8 l8">
                    <h3> استارت آپ </h3>
                    <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col s12 m12 l6 service_item">
            <div class="row">
                <div class="col s12 m4 l4">
                    <img src="{% static 'home/img/icon_seo_g.svg'%}">
                </div>
                <div class="col s12 m8 l8">
                    <h3> سئو </h3>
                    <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l6 service_item">
            <div class="row">
                <div class="col s12 m4 l4">
                    <img src="{% static 'home/img/icon_target.svg'%}">
                </div>
                <div class="col s12 m8 l8">
                    <h3> مارکتینگ </h3>
                    <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>
        </div>

        







    </div>

</section>