{% if post %}

    <p>
        <h2>{{ post.title }}</h2><h5>{{ post.author }} | {{ post.date }}</h5>
        {% for cat in post.categories.all %}
            <a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>,
        {% endfor %}
        <br>
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>, 
        {% endfor %}
    </p>

    <p>
        {{ post.content }}
    </p>
    <br>
    <a href="{% url 'blog:home' %}">Blog Index</a>

    <hr>
    <p>


        {% for cmnt in comments %}
            {{ cmnt.name }} _ {{ cmnt.email }} _ <code>{{cmnt.created}}</code>
            <p>
                {{ cmnt.content }}
            </p>
        {% endfor %}


    </p>

{% endif %}